@charset "UTF-8";
/*Importações*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Configurando variáveis*/
:root{
    --vermelho: #E21C21;
    --amarelo: #F2A007;
    --roxo: #6805F2;
    --preto: #292829;
    --gradiente: linear-gradient(145deg, rgb(209, 16, 51) 10%, rgba(116, 49, 192, 0.788) 90%);
    --titulo: 'Comfortaa', sans-serif;
    --texto: 'Montserrat', sans-serif;
}
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Configurações globais*/
body{
    background-image: url(../imgs/backgrounds/background-default-gd.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mapeamento-site{
    margin: 12px;
    color: #C7C7C7;
    font-family: var(--texto);
    font-size: 0.7em;
}
.mapeamento-site a{
    color: #C7C7C7;
    font-family: var(--texto);
    text-decoration: none;
}
.mapeamento-site a:hover{
    color: #a0161a;
}
.mapeamento-site span{
    font-family: var(--texto);
    color: var(--vermelho);
    cursor: pointer;
}
.title-n1--type1{
    color: white;
    font-size: 1.77em;
    font-family: var(--texto);
    font-weight: normal;
    text-align: center;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.507);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}
.title-n1--type2{
    position: static;
    color: var(--preto);
    font-size: 1.77em;
    font-family: var(--texto);
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
}
h2{
    color: rgb(230, 230, 230);
    font-family: var(--texto);
    font-weight: normal;
    text-align: left;
    margin: 10px;
}
.title-n3--type1{
    color: var(--preto);
    font-family: var(--titulo);
}
.p__type1{
    color: white;
    font-family: var(--texto);
    text-align: justify;
    line-height: 25px;
    margin: 10px;
    max-width: 500px;
}
.p__type2{
    color: var(--preto);
    font-family: var(--texto);
    text-align: justify;
    list-style: 25px;
}
.btn__type1{
    color: white;
    font-size: 1.08em;
    font-family: var(--titulo);
    font-weight: normal;
    background-color: var(--preto);
    background-image: linear-gradient(to right, var(--vermelho) 0%,#ff002f63 100%);
    cursor: pointer;
    display: block;
    width: 200px;
    height: 40px;
    margin: 40px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
}
.btn__type1:hover{
    background-image: none;
    background-color: var(--vermelho);
    transition-duration: 1s;
}
.btn__type2{
    color: white;
    font-family: var(--titulo);
    font-weight: normal;
    background-color: var(--preto);
    background-image: linear-gradient(to right, var(--amarelo) 21%, #b47706d0 96%);
    cursor: pointer;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
}
.btn__type2:hover{
    background-image: none;
    background-color: var(--amarelo);
    transition-duration: 1s;
}
.btn__type3{
    color: white;
    font-family: var(--titulo);
    font-weight: normal;
    background-color: var(--preto);
    background-image: var(--gradiente);
    cursor: pointer;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
}
.btn__type3:hover{
    background-image: none;
    background-color: rgb(209, 16, 51) ;
    transition-duration: 1s;
}
.btn__type4{
    color: white;
    font-size: 1.08em;
    font-family: var(--titulo);
    font-weight: normal;
    background-color: white;
    background-image: linear-gradient(166deg, #02A25D 0%,#000 93%, #0b2419 100%);
    cursor: pointer;
    display: block;
    width: 200px;
    height: 40px;
    margin: 40px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
}
.btn__type4:hover{
    background-image: none;
    background-color: #02A25D;
    transition-duration: 1s;
}
a{
    text-decoration: none;
}