/*Configurações gerais da index*/
body{
    background-image: url(../imgs/backgrounds/background-default-gd.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*MAIN HERO*/
.hero{
    margin: 50px 0;
}
.hero__img-mobile{
    display: block;
    margin: 40px auto;
}
.hero__img-desktop{
    display: none;
    margin: 40px auto;
}
.hero__solutions{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
/*SECTION SOLUCOES*/
.solucoes{
    background-color: var(--preto);
    background-image: url(../imgs/backgrounds/background-cases-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.solucoes__title{
    margin: 100px auto;
}
.solucoes__container-btns{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
}
.btn__type3--solucoes{
    width: 200px;
    height: 45px;
    margin: 20px 0px;
}
/*SECTION SOBRE NÓS*/
.sobre-nos{
    background-color: var(--preto);
    background-image: url(../imgs/backgrounds/background-sobre-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
#sobre-nos__title{
    margin: 0 auto;
}
#sobre-nos__video-invitec{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 250px;
    margin: auto;
}
/*LINK TO-TOP*/
.to-top{
    background-color: white;
    position: relative;
}
.to-top img{
    display: block;
    position: absolute;
    top: -47px;
    left: 50%;
    transform: translateX(-50%);
}
/*PARCERIAS*/
.parcerias{
    background-color: white;
    padding-bottom: 40px;
}
.parcerias__title{
    position: relative;
    z-index: 10px;
    padding-top: 40px;
}
.parcerias__carrossel{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
/*ABERTURA CHAMADO*/
.abertura-chamado{
    background-image: url(../imgs/backgrounds/background-abrir-chamado-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
}
.abertura-chamado__title{
    font-size: 1.3em;
    text-decoration: underline;
    text-decoration-color: var(--amarelo);
    margin: 0 auto;
}
.abertura-chamado__container1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.abertura-chamado__container2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.abertura-chamado__container3{
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
}
.abertura-chamado__input{
    width: 70%;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
.abertura-chamado textarea{
    width: 100%;
    height: 180px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.btn__type2--abertura-chamado{
    width: 100px;
}
/*MEDIA TYPES:*/
@media (min-width: 620px) {
    /*SECTION SOBRE NÓS*/
    #sobre-nos__video-invitec{
        height: 350px;
    }
}
@media (min-width: 905px){
    /*SECTION SOLUÇÕES*/
    .solucoes{
        background-image: url(../imgs/backgrounds/background-cases-desk.png);
    }
    .solucoes__container-btns{
        flex-flow: row wrap;
        justify-content: center;
    }
    .btn__type3--solucoes{
        width: 200px;
        height: 45px;
        margin: 20px 30px;
    }
    /*SECTION SOBRE NÓS*/
    .sobre-nos{
        background-image: url(../imgs/backgrounds/background-sobre-desk.png);
        height: 800px;
    }
    #sobre-nos__title{
        padding-top: 65px;
    }
    #sobre-nos__video-invitec{
        height: 450px;
    }
    /*ABERTURA CHAMADO*/
    .abertura-chamado{
        background-image: url(../imgs/backgrounds/background-abrir-chamado-desk.png);
    }
}
@media (min-width: 1065px) {
    /*MAIN HERO*/
    .hero__img-mobile{
        display: none;
    }
    .btn__type1--hero{
        display: none;
    }
    .hero__img-desktop{
        display: block;
        height: 100%;
        margin: 40px;
    }
    .hero{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    /*SECTION SOBRE NÓS*/
    #sobre-nos__video-invitec{
        height: 550px;
    }
    /*ABERUTRA CHAMADO*/
    .abertura-chamado__container1{
        flex-flow: row nowrap;
        width: 60%;
        margin: auto;
    }
    .abertura-chamado__container2{
        flex-flow: row nowrap;
        width: 60%;
        margin: auto;
    }
    .abertura-chamado__container3{
        width: 60%;
    }
}
@media (min-width: 1500px){
    /*LINK TO TOP*/
    /*ABERTURA CHAMADO*/
    .abertura-chamado__container1{
        width: 45%;
    }
    .abertura-chamado__container2{
        width: 45%;
    }
    .abertura-chamado__container3{
        width: 45%;
    }
}