/*Configurações gerais da index*/
body{
    background-image: url(../imgs/backgrounds/background-default-gd.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*MAIN HERO*/
.hero{
    margin: 50px 0;
}
.hero__img-mobile{
    display: block;
    margin: 40px auto;
}
.hero__img-desktop{
    display: none;
    margin: 40px auto;
}
.hero__solutions{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
/*SECTION SOLUCOES*/
.solucoes{
    background-color: var(--preto);
    background-image: url(../imgs/backgrounds/background-cases-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.solucoes__title{
    margin: 100px auto;
}
.solucoes__container-btns{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
}
.btn__type3--solucoes{
    width: 200px;
    height: 45px;
    margin: 20px 0px;
}
/*SECTION SOBRE NÓS*/
.sobre-nos{
    background-color: var(--preto);
    background-image: url(../imgs/backgrounds/background-sobre-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
#sobre-nos__title{
    margin: 0;
}
#sobre-nos__video-invitec{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 250px;
    margin: auto;
}

/*MEDIA TYPE: TELAS MÉDIAS*/
@media (min-width: 905px){
    .solucoes{
        background-image: url(../imgs/backgrounds/background-cases-desk.png);
    }
    .solucoes__container-btns{
        flex-flow: row wrap;
        justify-content: center;
    }
    .btn__type3--solucoes{
        width: 200px;
        height: 45px;
        margin: 20px 30px;
    }
}
/*MEDIA TYPE: TELAS GRANDES*/
@media (min-width: 1065px) {
    /*MAIN HERO*/
    .hero__img-mobile{
        display: none;
    }
    .btn__type1--hero{
        display: none;
    }
    .hero__img-desktop{
        display: block;
        height: 100%;
        margin: 40px;
    }
    .hero{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
}