@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    /*Fontes*/
    --fonte-destaque: "Open Sans", sans-serif;
    --fonte-padrao: "Montserrat", sans-serif;
    /*Cores*/
    --vermelho: #E21C21;
    --amarelo: #F2A007;
    --roxo: #6805F2;
    --preto: #373737;
}

*{
    margin: 0;
    padding: 0;
}

p{
    color: var(--preto);
    font-family: var(--fonte-padrao);
    font-weight: bold;
}