@charset "UTF-8";

header{
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
}

img{
    width: 40%;
    margin: 10px;
}

#burguer{
    color: var(--vermelho);
    font-size: 2em;
    text-align: right;
    margin: 5% 25px;
    position: relative;
}

nav{
    display: block;
    width: 80%;
    height: 100vh;
    text-align: left;
    background-color: var(--preto);
    overflow-y: auto;
    position: fixed;
    right: -80%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

nav.ocultado{
    right: 0%;
}

#arrowForward{
    color: var(--vermelho);
    font-size: 2em;
    display: block;
    width: 80%;
    margin: 20px auto;
}

ul{
    list-style-type: none;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

ul > li{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.247);
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-destaque);
}

nav a{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-destaque);
    text-decoration: none;
}

.dropdown{
    width: 100%;
    max-height: 500px;
}

.dropdown a{
    font-size: 0.8em;
}

.escondeDropDown > .dropdown{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
